In [ ]:
# Installation of the psycopg library
pip install psycopg2

In [ ]:
# psycopg tutorial: https://wiki.postgresql.org/wiki/Psycopg2_Tutorial
# psycopg library import
import psycopg2 as pg2

In [ ]:
# Establishing PostgreSQL connection and start cursor for queries
# database='DBtest2' (The name of the database to work on)
# user='postgres'
# password='solbridge'
conn = pg2.connect(database='DBtest2', user='postgres', password='solbridge')
cur = conn.cursor()

In [ ]:
# BEST practice is to pass in an entire PostgreSQL query as a string
cur.execute('SELECT * FROM payment')
# Return the first row of data as a tuple.
cur.fetchone()

In [ ]:
# Return 10 rows of data
cur.fetchmany(10)

In [ ]:
# Access specific datapoints
x = cur.fetchmany(10)
x[0][4]

In [ ]:
# Return All rows of data
cur.fetchall()

In [ ]:
# Create a table with a multi-line Python string surrounded by 3 double quotes
query1 = """
    CREATE TABLE new (
        userid integer,
        tmstmp timestamp,
        type varchar(10) NOT NULL
    )"""
cur.execute(query1)

In [ ]:
# Check the new table
cur.execute('SELECT * FROM new')
cur.fetchall()

In [ ]:
# Commit the changes to the database
cur.commit()

In [ ]:
# Close connection
conn.close()